<div id="patients-list" class="template">
  <h1>Patients
  <a href="#/patients/new" class="btn btn-small btn-success">Add patient</a>
  </h1>

  <% if (patientsCollection.length < 1) { %>
  <h2>No Patients</h2>
  <% } %>

  <div class="list-group">
  <% patientsCollection.each(function (patient) { %>
    <a href="#/patients/<%= patient.id %>" class="list-group-item"><%= patient.get('first_name') %> <%= patient.get('last_name') %> (<%= patient.get('date_of_birth') %>)</a>
  <% }); %>
  </div>
</div>
