<div id="patients-list" class="template">
  <h1>Patients
  <a href="#/patients/new" class="btn btn-small btn-success">Add patient</a>
  </h1>

  <% if (patientsCollection.length < 1) { %>
  <h2>No Patients</h2>
  <% } %>

  <ul class="list-group">
  <% patientsCollection.each(function (patient) { %>
  <li class="list-group-item">
  <a href="#/patients/<%= patient.id %>">
    <span class="badge"><%= patient.get('requestsCollection').length %></span>
    <%= patient.get('first_name') %> <%= patient.get('last_name') %> (<%= patient.get('date_of_birth') %>)
  </a>

  <a href="#/patients/<%= patient.id %>/destroy" class="btn btn-xs
    btn-danger pull-right">Remove</a>
  </li>
  <% }); %>
  </ul>
</div>
