<div id="patients-list" class="template">
  <h1>Patients
  <a href="#/patients/new" class="btn btn-small btn-success">Add patient</a>
  </h1>

  <% if (patientsCollection.length < 1) { %>
  <h2>No Patients</h2>
  <% } %>

  <table class="table table-striped">
    <tr>
      <th class="open">Open PAs</th>
      <th>Patient Name</th>
      <th class="remove">Remove</th>
    </tr>
    <% patientsCollection.each(function (patient) { %>
    <tr>
      <td class="open">
        <span class="label label-info"><%= patient.get('requestsCollection').length %></span>
      </td>
      <td>
        <a href="#/patients/<%= patient.id %>">
          <%= patient.get('first_name') %> <%= patient.get('last_name') %> (<%= patient.get('date_of_birth') %>)
        </a>
      </td>
      <td class="remove">
        <a href="#/patients/<%= patient.id %>/destroy" class="btn btn-xs btn-danger">X</a>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
