<div id="patient-show" class="template">
  <h2><%= patient.get('last_name') %>, <%= patient.get('first_name') %></h2>

  <hr>

  <h3>Prescriptions</h3>

  <% var requests = patient.get('requestsCollection'); %>

  <% if (requests.length < 1) { %>
  <h5>No drugs have been added for this patient yet.</h5>
  <% } else { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Drug</th>
        <th>Formulary Status</th>
        <th class="start">Start PA</th>
        <th>Change Drug</th>
      </tr>
    </thead>
    <% requests.each(function(request) { %>
      <tr>
        <td><%= request.get('drugName') %></td>
        <td><%= request.get('formularyStatus') %></td>
        <td class="start">
          <% if (request.get('sent') === true) { %>
          <input type="checkbox" checked="checked" disabled="disabled">
          <% } else { %>
          <input type="checkbox" name="request" value="<%= request.cid %>">
          <% } %>
        </td>
        <td>
          <% if (request.get('sent') === true) { %>
          <a href="#/patients/<%= patient.id %>" class="btn btn-primary disabled">Change Drug</button>
          <% } else { %>
          <a href="#/patients/<%= patient.id %>/drugs/<%= request.cid %>/edit" class="btn btn-primary">Change Drug</button>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </table>
  <% } %>

  <p>
    <a href="#/patients/<%= patient.id %>/drugs/new" class="btn btn-success">Add Drugs</a>
    <% if (requests.length > 0) { %>
    <button class="btn btn-primary submit">Next</button>
    <% } %>
  </p>

</div>
