<div id="patient-show" class="template">
  <h2><%= patient.get('last_name') %>, <%= patient.get('first_name') %></h2>

  <hr>

  <h3>Prescriptions</h3>

  <% var requests = patient.get('requestsCollection'); %>

  <% if (requests.length < 1) { %>
  <h5>No drugs have been added for this patient yet.</h5>
  <% } else { %>
  <table class="table">
    <thead>
      <tr>
        <th>Drug</th>
        <th>Form</th>
        <th>&nbsp;</th>
        <th class="pull-right">Submit</th>
      </tr>
    </thead>
    <% requests.each(function(request) { %>
      <tr>
        <td><%= request.get('drugName') %></td>
        <td><%= request.get('formName') %></td>
        <td><a href="#/patients/<%= patient.id %>/drugs/<%= request.cid %>/edit" class="btn btn-primary pull-right">Change Drug</button></td>
        <% if (request.get('sent') === true) { %>
        <td><input type="checkbox" class="pull-right" checked="checked" disabled="disabled"></td>
        <% } else { %>
        <td><input type="checkbox" name="request" class="pull-right" value="<%= request.cid %>"></td>
        <% } %>
      </tr>
    <% }); %>
  </table>
  <% } %>

  <p>
    <a href="#/patients/<%= patient.id %>/drugs/new" class="btn btn-success">Add Prescription</a>
    <% if (requests.length > 0) { %>
    <button class="btn btn-primary submit">Submit Selected</button>
    <% } %>
  </p>

</div>
