<div class="template">
  <h1>Let's pretend that this is your EHR...</h1>
  <p class="lead">This is a simple demo system to show how to integrate CoverMyMeds into your system using the <a href="https://api.covermymeds.com/">CoverMyMeds API</a>. You will need to create four interface elements:</p>
  <ol>
    <li>a button to start a prior authorization while the provider is
    working with an electronic prescription.</li>
    <li>a prior authorization task list which will be used to show the PAs being worked upon.</li>
    <li>a form to start a new prior authorization.</li>
    <li>a contact page so CoverMyMeds can help your users.</li>
  </ol>
  <a id='patients_list' href='#/patients' class='btn btn-primary'>Patient List</a>
  <a id='pa_list' href='#/dashboard' class='btn btn-success'>Show all Prior Authorizations</a>
</div>
