<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Your EHR</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a class="load-page" href="index">Home</a></li>
        <li class=""><a class="load-page" href="patientList">e-Prescribing</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prior Authorization <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="load-page" href="requestList">Task List</a></li>
            <li><a class="load-page" href="requestAdd">New Prior Authorization</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">More</li>
            <li class="dropdown-header"><a class="load-page" href="help-page">Contact CoverMyMeds</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div id="page-load-target">
    <!-- Additional views loaded here -->
  </div>
</div><!-- /.container -->
