body { font: 16px/1.5 Helvetica, sans-serif; margin: 0; padding: 50px 0 0 0; }

.template { padding: 40px 15px; }

.request {
  background: #f7f7f9;
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}
.request:nth-child(even) {
  background: #ffffff;
}
.request:last-child {
  border-bottom: 1px solid #dddddd;
}
.dropdown-header {
  font-size: 1.3em;
  font-weight: bold;
  color: #222222;
  padding: 10px 0 10px 20px;
}

/* Dashboard styles */
#dashboard dt { width: 60px; }
#dashboard dd { margin-left: 75px; }
#dashboard td.form-thumbnail { width: 120px; padding-top: 16px; }

/* app specific styles */
/* ----------------------- */

#patients-list {
  table {
    .open, .remove { width: 100px; text-align: center; }
  }
}

#patient-show {
  table {
    .start { width: 100px; text-align: center; }
  }
}
