<fieldset>
	<legend>New PA Request</legend>

	<p>
		<label for="first_name">First Name</label>
		<input id="first_name">
	</p>

	<p>
		<label for="last_name">Last Name</label>
		<input id="last_name">
	</p>

	<p>
		<label for="date_of_birth">Date of Birth</label>
		<input id="date_of_birth">
	</p>

	<p>
		<label for="drug">Drug</label>
		<input id="drug">
	</p>

	<p>
		<label for="form">Form</label>
		<input id="form">
	</p>

	<p>
		<a class="cancel" href="#">Cancel</a><button>Create</button>
	</p>

</fieldset>